@using Microsoft.AspNetCore.Components.Web
@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase

<div @attributes="@AdditionalAttributes" id="@Id" class="@ClassString" style="@StyleString">
    @if (Options.ShowToolbar)
    {
        <div class="bb-view-toolbar init">
            <div class="bb-view-title">
                <div class="bb-view-icon bb-view-bar"><i class="fa-solid fa-bars"></i></div>
                <span class="bb-view-subject">@_docTitle</span>
            </div>
            <div class="@ViewBodyString">
                <input type="text" class="bb-view-num" @bind="CurrentPageString" /><span class="bb-view-slash">/</span><div class="bb-view-pagesCount"></div>
                <div class="bb-view-divider"></div>
                <div class="bb-view-icon bb-page-minus"><i class="fa-solid fa-minus"></i></div>
                <input type="text" class="bb-view-scale" @bind="CurrentScaleString" />
                <div class="bb-view-icon bb-page-plus"><i class="fa-solid fa-plus"></i></div>
                <div class="bb-view-divider"></div>
                <div class="bb-view-icon bb-view-fit-page" @onclick="FitToPage"><i class="fa-solid fa-arrows-left-right-to-line fa-rotate-90"></i></div>
                <div class="bb-view-icon bb-view-fit-width" @onclick="FitToWidth"><i class="fa-solid fa-arrows-left-right-to-line"></i></div>
                <div class="bb-view-icon bb-view-fit-rotate" @onclick="RotateLeft"><i class="fa-solid fa-rotate-left"></i></div>
                <div class="bb-view-icon bb-view-fit-rotate" @onclick="RotateRight"><i class="fa-solid fa-rotate-right"></i></div>
            </div>
            <div class="bb-view-controls">
                <div class="bb-view-icon bb-view-download"><i class="fa-solid fa-arrow-right-to-bracket fa-rotate-90"></i></div>
                <div class="bb-view-icon bb-view-print"><i class="fa-solid fa-print"></i></div>
                <Dropdown TValue="string" Color="Color.None" SkipValidate="true" ShowLabel="false"
                          IsPopover="false" MenuAlignment="Alignment.Right" Icon="@MoreButtonIcon">
                    <ItemsTemplate>
                        @if (Options.ShowTwoPagesOnViewButton)
                        {
                            <div class="dropdown-item dropdown-item-pages" @onclick="OnToggleTwoPagesOneView"><i class="@_twoPagesOneViewIcon"></i><span>Two pages on view</span></div>
                            <Divider></Divider>
                        }
                        <div class="dropdown-item"><i class="fa-solid fa-fw"></i><span>Document properties</span></div>
                    </ItemsTemplate>
                </Dropdown>
            </div>
        </div>
    }
    <div class="bb-view-container">
        <div class="pdfViewer"></div>
    </div>
</div>
