@using Microsoft.AspNetCore.Components.Web
@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase

<div @attributes="@AdditionalAttributes" id="@Id" class="@ClassString" style="@StyleString">
    <div class="bb-view-toolbar">
        <div class="bb-view-title">
            <div class="bb-view-icon bb-view-bar"><i class="fa-solid fa-bars"></i></div>
            <span class="bb-view-subject">@_docTitle</span>
        </div>
        <div class="bb-view-body">
            <input type="text" class="bb-view-num" value="1" /><span class="bb-view-slash">/</span><div>14</div>
            <div class="bb-view-divider"></div>
            <div class="bb-view-icon"><i class="fa-solid fa-minus"></i></div>
            <input type="text" class="bb-view-scale" value="100%" />
            <div class="bb-view-icon"><i class="fa-solid fa-plus"></i></div>
            <div class="bb-view-divider"></div>
            <div class="bb-view-icon bb-view-fit-page" @onclick="FitToPage"><i class="fa-solid fa-arrows-left-right-to-line"></i></div>
            <div class="bb-view-icon bb-view-fit-width" @onclick="FitToWidth"><i class="fa-solid fa-arrows-left-right"></i></div>
            <div class="bb-view-icon bb-view-fit-rotate"><i class="fa-solid fa-rotate-left"></i></div>
            <div class="bb-view-divider"></div>
            <div class="bb-view-icon bb-view-draw"><i class="fa-solid fa-pen-to-square"></i></div>
        </div>
        <div class="bb-view-controls">
            <div class="bb-view-icon bb-view-download"><i class="fa-solid fa-arrow-right-to-bracket fa-rotate-90"></i></div>
            <div class="bb-view-icon bb-view-print"><i class="fa-solid fa-print"></i></div>
            <div class="bb-view-icon bb-view-home"><i class="fa-solid fa-flag"></i></div>
        </div>
    </div>
    <div class="bb-view-container">
        <div class="pdfViewer"></div>
    </div>
</div>
